*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: black;
    height:     100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.game{
    width:80vw;
    height : 80vh;
    max-width: 450 px;
    background: rgb(26,21,36);
    display: flex   ;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.hand{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55%;
    width: 100%;
    /* gap: 30px; */
    font-size: 80px;
}
.you-div,.computer-div{
    /* animation: shake 01s linear infinite; */
}

.choices{
    width: 100%;
    height: 20%;
    display: flex;  
    justify-content: space-around;
    align-items: center;
}

.choice{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8), -2px -2px 10px rgba(0,0,0,0.8);
    font-size: 20px;
    transition: 0.5;
    cursor: pointer;

}

.choice:hover{
    box-shadow: 2px 2px 10px rgba(59,135,197,0.8), -2px -2px 10px rgba(187,71,205,0.8);
    
}

/* .result{
    width: 70%;
    height: 10%;
    display: flex;
    /* justify-content: center;
    align-items: center;
    font-size: 30px; */
    /* color: white; */
 
    /* .result{
        width : 70%;
        height:     10%;
        background-color: transparent;
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 2px 2px 20px rgba(0, 255, 94, 0.8), -2px -2px 20px rgba(79, 255, 173, 0.8); 
        display: flex;
        justify-content: center;
        align-items: center;    
        font-size: 30px;
        color: white;
    
    } */
    .result {
        width: 70%;
        height: 10%;
        background-color: transparent;
        margin-top: 20px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: white;
        transition: all 0.3s ease-in-out;
    }
    
    .win {
        background-color: rgba(83, 243, 81, 0.2);
        color: rgb(34, 177, 76);
        box-shadow: 2px 2px 20px rgba(34, 177, 76, 0.8), -2px -2px 20px rgba(34, 177, 76, 0.8);
    }
    
    .lose {
        background-color: rgba(255, 0, 0, 0.2);
        color: rgb(255, 69, 69);
        box-shadow: 2px 2px 20px rgba(255, 0, 0, 0.8), -2px -2px 20px rgba(255, 20, 20, 1);
    }
    
    .draw {
        background-color: rgba(105, 208, 252, 0.2);
        color: rgb(30, 144, 255);
        box-shadow: 2px 2px 20px rgba(105, 208, 252, 0.8), -2px -2px 20px rgba(35, 222, 225, 0.8);
    }
    

    .win {
        background-color: rgba(83, 243, 81, 0.2);
        color: rgb(34, 177, 76);
        box-shadow: 2px 2px 20px rgba(34, 177, 76, 0.8), -2px -2px 20px rgba(34, 177, 76, 0.8);
    }
    
   
    .lose {
        background-color: rgba(255, 0, 0, 0.2);
        color: rgb(255, 69, 69);
        box-shadow: 2px 2px 20px rgba(255, 0, 0, 0.8), -2px -2px 20px rgba(255, 20, 20, 1);
    }
    
   
    .draw {
        background-color: rgba(105, 208, 252, 0.2);
        color: rgb(30, 144, 255);
        box-shadow: 2px 2px 20px rgba(105, 208, 252, 0.8), -2px -2px 20px rgba(35, 222, 225, 0.8);
    }

    @keyframes shake {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(10deg);
        }
        50% {
            transform: rotate(-10deg);
        }
        75% {
            transform: rotate(10deg);
        }
        100% {
            transform: rotate(-10deg);
        }
    }
    